# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\master\软件测试\GoldMiner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
